.menu {
  display: none;
  z-index: 4;
  color: white;
  font-family: "Poppins", sans-serif;
}

.menuIcon {
  background: url(../../assets/icons/toggle-menu-icon.png) no-repeat;
  background-size: 27px;
  background-position: center;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.deactivete {
  background: url(../../assets/icons/x-icon.png) no-repeat;
  background-size: 27px;
  background-position: center;
  width: 27px;
  height: 27px;
  cursor: pointer;
}

.navMenuItems {
  display: none;
  background-color: white;
  color: black;
  border-radius: 10%;
  padding: 10px;
}

.activate {
  display: block;
  align-content: center;
  position: absolute;
  font-size: 2rem;
  font-weight: 600;
  top: 58px;
  right: 10px;
}

.menuContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 20px;
  gap: 10px;
  color: black;
  margin: auto;
}

/*.menuContainer li {
  margin: 10px 0;
}
*/

/* Configurando menu en celular */
@media (min-width: 320px) and (max-width: 428px) {
  .menuContainer {
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
  }

  .menuContainer li {
    width: 100%;
    text-align: center;
    font-size: 3rem;
  }
}



@media (max-width: 800px) {
  .menu {
    display: block;
  }

  .navMenuItems {
    width: 100%;
    border-radius: 0;

  }

  .activate {
    right: 0;
  }

  .menuContainer {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (min-width: 800px) {
  .menu {
    display: none;
  }

  .activate {
    display: none;
  }
}
