.card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  border-radius: 30px 30px 25px 25px;
  background-color: #fff;
  margin: 20px;
  width: 320px;
}

.cardImage {
  position: relative;
  height: 150px;
  width: 150px;
  border-radius: 50%;
  background: #fff;
  padding: 3px;
}

.cardImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #4070f4;
}

.imageContent,
.cardContent {
  padding: 10px 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.imageContent {
  position: relative;
  row-gap: 5px;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4070f4;
  border-radius: 25px 25px 0 25px;
}

.overlay:before,
.overlay:after {
  content: '';
  position: absolute;
  height: 40px;
  width: 40px;
  background-color: red;
}

.overlay::before,
.overlay::after {
  border-radius: 0 25px 0 0;
  background-color: #4070f4;
}

.cardContent h2 {
  margin: 0;
  font-size: 1.8rem;
  font-weight: 700;
}

.cardContent p {
  text-align: center;
  font-size: 1.4rem;
}
