.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 2;
  color: white;
  font-size: 1.6rem;
  padding: 80px 20px 0px 20px;
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
}

.synopsisContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  align-content: center;
  width: 100%;
  height: auto;
}

.poster {
  width: 100%;
  display: flex;
  justify-content: center;
}

.poster img {
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 5px 25px rgba(1 1 1 / 20%);
  transition: 0.3s ease;
}

.textContainer {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.textContainer p {
  text-align: center;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title h1 {
  margin: auto;
  font-size: 6rem;
}

@media (min-width: 580px) and (max-width: 800px) {
  .synopsisContainer {
    flex-direction: row;
    align-items: center;
  }
  .poster {
    width: 50%;
  }

  .poster img {
    height: 380px;
  }

  .textContainer {
    width: 50%;
  }
}

@media (min-width: 801px) {
  .synopsisContainer {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .poster {
    width: 45%;
  }

  .poster img {
    height: 600px;
  }

  .textContainer {
    width: 45%;
  }
}
